body {
  padding-top:50px
}
.glyphicon-remove:hover {
  cursor:pointer
}

tooltip a {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  display: block;
}

label.col-form-label {
  display: block;
}
