body {
  padding-top:50px
}
.glyphicon-remove:hover {
  cursor:pointer
}

tooltip a {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  display: block;
}

label.col-form-label {
  display: block;
}

.error-msg, .alert {
  color: darkred;
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 300px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0);
  opacity: 1;
}

.modal{
  display:block;
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.container .row {
  margin-left: 0;
  margin-right: 0;
}
