<nav class="teal">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="nav-wrapper">
      <a href="" class="button-collapse teal" data-activates="bs-example-navbar-collapse-1" aria-expanded="false">
        <i class="material-icons">menu</i>
      </a>
      <ul class="hide-on-med-and-down ">
        <li ui-sref-active="active">
          <a ui-sref="todo">Todos</a>
        </li>
        <li class="active" ui-sref-active="active">
          <a ui-sref="category">Categories</a>
        </li>
      </ul>
      <ul class="right">
        <li ng-if="currentUser"><a ui-sref="logout" tooltips tooltip-template="Log out?">Logged in as: {{currentUser.email}}</a></li>
      </ul>
    </div>

    <ul class="side-nav"  id="bs-example-navbar-collapse-1">
      <li class="active" ui-sref-active="active"><a ui-sref="todo">Todos</a></li>
      <li ui-sref-active="active"><a ui-sref="category">Categories</a></li>
    </ul>
    <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
  </div><!-- /.container-fluid -->
</nav>
<script>
  $(document).ready(function () {

    // JAVASCRIPT START HERE //
    $('.button-collapse').sideNav();



  });
</script>
