<form novalidate name="todoForm">
  <div class="row">
    <div class="col-sm-12">
      <h1>Todo list</h1>
    </div>
    <hr>
    <div class="col-sm-12">
      <table id="todoTable" class="table table-striped table-bordered">
        <thead>
        <tr>
          <th class="col-sm-6">Content</th>
          <th class="col-sm-4">Category</th>
          <th class="col-sm-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in todos" ng-hide="item.id == editedTodo.id">
          <td>{{item.content}}</td>
          <td>{{item.category.name}}</td>
          <td>
            <button ng-click="startEdit(item)" class="btn btn-xs btn-primary">
              Edit
            </button>
            <button ng-click="removeTodo(item)" class="btn btn-xs btn-primary">
              Delete
            </button>
          </td>
        </tr>
        <tr ng-class="{danger: editedTodo}">
          <td><input ng-model="editedTodo.content" name="content" required/></td>
          <td><select ng-model="category"
                      ng-options="category as category.name for category in categories track by category.id" required/>
          </td>
          <td>
            <button ng-hide="editedTodo.id"
                    ng-click="createTodo(editedTodo)"
                    ng-disabled="todoForm.$invalid"
                    class="btn btn-xs btn-primary">
              Create
            </button>
            <button ng-show="editedTodo.id"
                    ng-click="updateTodo(editedTodo)"
                    class="btn btn-xs btn-primary">
              Save
            </button>
            <button ng-show="editedTodo"
                    ng-click="cancelEdit()" class="btn btn-xs btn-primary">
              Cancel
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


  </div>
</form>
